// Widht px
.w-150{
    width: 150px;
}

//widht %
.widht100pr{
    width:100%;
}
.widht90pr{
    width:90%;
}
.widht-10pr{
    width: 10%;
}
.widht-50pr{
    width:50%;
}
.widht-15pr{
    width: 15%;
}

.widht-35pr{
    width: 35%;
}
.widht-20pr{
    width: 40%;
}
.widht-40pr{
    width: 50%;
}
.widht-60pr{
    width: 60%;
}
.widht-85pr{
    width: 85%;
}
.widht5pr{
    width: 5%;
}
// Max widht
.mx-widht1600{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.mx-widht1400{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.mx-widht1350{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}